# EditorConfig - For more information, see http://editorconfig.org
#

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Project files
[*.{jsx,js,scss,js.template}]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Change Log
[ChangeLog*]
indent_style = tab

